crispy-bootstrap4==2023.1
crispy-bootstrap5==0.7
django-bootstrap-datepicker-plus==5.0.5
django-cleanup==8.0.0
django-crispy-forms==2.1
django-extensions==3.2.1
django-grappelli==3.0.8
django-multiselectfield==0.1.12
django-pandas==0.6.6
django-phonenumber-field==7.3.0
django-plotly-dash==2.2.2
django-web-components==0.2.0
Jinja2==3.1.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
numerize==0.12
numpy==1.23.5
pandas==1.5.3
Pillow==9.4.0
plotly==5.14.1
plotly-express==0.4.1
scipy==1.11.3
seaborn==0.12.2
statsmodels==0.14.0

