analytics-python==1.4.post1
crispy-bootstrap4==2023.1
crispy-bootstrap5==0.7
cryptography==41.0.7
cssselect2==0.7.0
cycler==0.12.1
dacite==1.8.1
daphne==4.0.0
django-appconf==1.0.6
django-bootstrap-datepicker-plus==5.0.5
django-bootstrap-sidebar==1.2.3
django-bower==5.2.0
django-chartit==0.2.9
django-chartjs==2.3.0
django-classy-tags==3.0.1
django-cleanup==8.0.0
django-cms==3.8.2
django-compressor==4.1
django-contrib-comments==2.2.0
django-cors-headers==3.13.0
django-coverage-plugin==3.0.0
django-crequest==2018.5.11
django-crispy-forms==2.1
django-erp-framework==1.5.2
django-extensions==3.2.1
django-filer==3.0.3
django-filter==23.5
django-formtools==2.4
django-grappelli==3.0.8
django-import-export==3.3.6
django-jazzmin==2.6.0
django-jet-reboot==1.3.5
django-js-asset==2.0.0
django-light==0.1.0.post3
django-login-required-middleware==0.4
django-material-admin==1.8.6
django-memoize==2.3.1
django-model-utils==4.3.1
django-money==3.4.1
django-mptt==0.15.0
django-multiselectfield==0.1.12
django-nvd3==0.9.7
django-pandas==0.6.6
django-phonenumber-field==7.3.0
django-plotly-dash==2.2.2
django-polymorphic==3.1.0
django-redis==5.2.0
django-reversion==5.0.10
django-sekizai==3.0.1
django-slick-reporting==1.3.0
django-stubs==1.13.1
django-stubs-ext==4.2.7
django-suit==0.2.25
django-tabular-permissions==2.9.2
django-theme-soft-design==1.0.10
django-treebeard==4.4
django-web-components==0.2.0
django-widget-tweaks==1.4.5
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework-stubs==1.8.0
docutils==0.19
dpd-components==0.1.0
drf-spectacular==0.25.1
dtale==1.53.0
duckdb==0.8.1
easy-thumbnails==2.8.5
entrypoints==0.4
et-xmlfile==1.1.0
executing==2.0.0
factory-boy==3.2.1
Faker==19.11.0
fastjsonschema==2.19.0
favicon==0.7.0
filebrowser-safe==1.1.1
filelock==3.13.1
flake8==6.0.0
flake8-isort==5.0.3
Flask==3.0.0
Flask-Compress==1.14
flask-ngrok==0.0.25
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.38.0
fqdn==1.5.1
freetype-py==2.3.0
frozenlist==1.4.0
fsspec==2023.12.1
future==0.18.3
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gopay==2.0.1
grappelli-safe==1.1.1
greenlet==3.0.0
grpcio==1.59.2
gw_dsl_parser==0.1.6a6
h11==0.14.0
h5py==3.10.0
haversine==2.8.0
hiredis==2.1.0
htbuilder==0.6.1
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.2
httpx==0.25.2
huggingface-hub==0.19.4
hyperlink==21.0.0
identify==2.5.33
idna==3.4
ImageHash==4.3.1
imagesize==1.4.1
importlib-metadata==6.8.0
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
ipdb==0.13.11
ipykernel==6.27.1
ipython==8.16.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
isort==4.3.21
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
Markdown==3.4.3
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupPy==1.14
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
Mezzanine==6.0.0
missingno==0.4.2
mistune==3.0.2
mitoinstaller==0.0.273
mitosheet==0.1.539
ml-dtypes==0.2.0
monotonic==1.6
more-itertools==10.1.0
mplcyberpunk==0.7.0
msgpack==1.0.7
multidict==6.0.4
multimethod==1.10
mypy==0.982
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector-python==8.2.0
mysqlclient==2.2.0
nbclassic==1.0.0
nbclient==0.9.0
nbconvert==7.13.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2
nodeenv==1.8.0
notebook==6.5.6
notebook_shim==0.2.3
npm==0.1.1
numba==0.58.1
numerize==0.12
numpy==1.23.5
oauthlib==3.2.2
odfpy==1.4.1
openai==0.28.0
openpyxl==3.1.2
opt-einsum==3.3.0
optional-django==0.1.0
oscrypto==1.3.0
overrides==7.4.0
packaging==23.1
pandas==1.5.3
pandas-profiling==3.2.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.12.1
patsy==0.5.3
phik==0.12.3
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==4.1.0
Plost==0.2.5
plotly==5.14.1
plotly-express==0.4.1
pylint-plugin-utils==0.8.2
pymdown-extensions==10.3.1
scipy==1.11.3
seaborn==0.12.2
sphinx-autobuild==2021.3.14
statsmodels==0.14.0
strsimpy==0.2.1
virtualenv==20.25.0
