analytics-python==1.4.post1
annotated-types==0.6.0
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
autopep8==2.0.1
Babel==2.14.0
backcall==0.2.0
backoff==1.10.0
beautifulsoup4==4.12.2
black==22.12.0
bleach==6.1.0
blinker==1.6.3
branca==0.6.0
Brotli==1.0.9
cachetools==5.3.1
Cartridge==1.3.4
certifi==2023.7.22
cffi==1.15.1
cfgv==3.4.0
channels==4.0.0
channels-redis==4.2.0
chardet==5.2.0
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
comm==0.1.4
constantly==23.10.4
contourpy==1.1.1
coverage==7.0.0
crispy-bootstrap4==2023.1
crispy-bootstrap5==0.7
cryptography==41.0.7
cssselect2==0.7.0
cycler==0.12.1
dacite==1.8.1
daphne==4.0.0
django-appconf==1.0.6
django-bootstrap-datepicker-plus==5.0.5
django-bootstrap-sidebar==1.2.3
django-bower==5.2.0
django-chartit==0.2.9
django-chartjs==2.3.0
django-classy-tags==3.0.1
django-cleanup==8.0.0
django-cms==3.8.2
django-compressor==4.1
django-contrib-comments==2.2.0
django-cors-headers==3.13.0
django-coverage-plugin==3.0.0
django-crequest==2018.5.11
django-crispy-forms==2.1
django-erp-framework==1.5.2
django-extensions==3.2.1
django-filer==3.0.3
django-filter==23.5
django-formtools==2.4
django-grappelli==3.0.8
django-import-export==3.3.6
django-jazzmin==2.6.0
django-jet-reboot==1.3.5
django-js-asset==2.0.0
django-light==0.1.0.post3
django-login-required-middleware==0.4
django-material-admin==1.8.6
django-memoize==2.3.1
django-model-utils==4.3.1
django-money==3.4.1
django-mptt==0.15.0
django-multiselectfield==0.1.12
django-nvd3==0.9.7
django-pandas==0.6.6
django-phonenumber-field==7.3.0
django-plotly-dash==2.2.2
django-polymorphic==3.1.0
django-redis==5.2.0
django-reversion==5.0.10
django-sekizai==3.0.1
django-slick-reporting==1.3.0
django-stubs==1.13.1
django-stubs-ext==4.2.7
django-suit==0.2.25
django-tabular-permissions==2.9.2
django-theme-soft-design==1.0.10
django-treebeard==4.4
django-web-components==0.2.0
django-widget-tweaks==1.4.5
django_debug_toolbar==3.8.1
djangocms-admin-style==2.0.2
djangocms-attributes-field==3.0.0
djangocms-bootstrap4==2.0.0
djangocms-file==3.0.1
djangocms-googlemap==2.2.0
djangocms-icon==2.0.0
djangocms-installer==2.0.0
djangocms-link==3.1.1
djangocms-picture==3.0.0
djangocms-style==3.1.0
djangocms-text-ckeditor==4.0.0
djangocms-video==3.1.0
djangorestframework==3.14.0
djangorestframework-stubs==1.8.0
docutils==0.19
dpd-components==0.1.0
drf-spectacular==0.25.1
dtale==1.53.0
duckdb==0.8.1
easy-thumbnails==2.8.5
entrypoints==0.4
et-xmlfile==1.1.0
executing==2.0.0
factory-boy==3.2.1
Faker==19.11.0
fastjsonschema==2.19.0
favicon==0.7.0
filebrowser-safe==1.1.1
filelock==3.13.1
flake8==6.0.0
flake8-isort==5.0.3
Flask==3.0.0
Flask-Compress==1.14
flask-ngrok==0.0.25
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.38.0
fqdn==1.5.1
freetype-py==2.3.0
frozenlist==1.4.0
fsspec==2023.12.1
future==0.18.3
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gopay==2.0.1
grappelli-safe==1.1.1
greenlet==3.0.0
grpcio==1.59.2
gw_dsl_parser==0.1.6a6
h11==0.14.0
h5py==3.10.0
haversine==2.8.0
hiredis==2.1.0
htbuilder==0.6.1
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.2
httpx==0.25.2
huggingface-hub==0.19.4
hyperlink==21.0.0
identify==2.5.33
idna==3.4
ImageHash==4.3.1
imagesize==1.4.1
importlib-metadata==6.8.0
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
ipdb==0.13.11
ipykernel==6.27.1
ipython==8.16.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
isort==4.3.21
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
Markdown==3.4.3
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupPy==1.14
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
Mezzanine==6.0.0
missingno==0.4.2
mistune==3.0.2
mitoinstaller==0.0.273
mitosheet==0.1.539
ml-dtypes==0.2.0
monotonic==1.6
more-itertools==10.1.0
mplcyberpunk==0.7.0
msgpack==1.0.7
multidict==6.0.4
multimethod==1.10
mypy==0.982
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector-python==8.2.0
mysqlclient==2.2.0
nbclassic==1.0.0
nbclient==0.9.0
nbconvert==7.13.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2
nodeenv==1.8.0
notebook==6.5.6
notebook_shim==0.2.3
npm==0.1.1
numba==0.58.1
numerize==0.12
numpy==1.23.5
oauthlib==3.2.2
odfpy==1.4.1
openai==0.28.0
openpyxl==3.1.2
opt-einsum==3.3.0
optional-django==0.1.0
oscrypto==1.3.0
overrides==7.4.0
packaging==23.1
pandas==1.5.3
pandas-profiling==3.2.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.12.1
patsy==0.5.3
phik==0.12.3
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==4.1.0
Plost==0.2.5
plotly==5.14.1
plotly-express==0.4.1
pluggy==1.3.0
ppscore==1.3.0
pre-commit==2.20.0
prometheus-client==0.19.0
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.6
psycopg2-binary==2.9.5
pure-eval==0.2.2
py-moneyed==3.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.25.1
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.13
pydantic-settings==2.0.3
pydantic_core==2.10.1
pydeck==0.8.1b0
pydyf==0.5.0
pyflakes==3.0.1
Pygments==2.16.1
pygwalker==0.3.9
pyHanko==0.21.0
pyhanko-certvalidator==0.26.3
pylint==2.17.7
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pymdown-extensions==10.3.1
Pympler==1.0.1
PyMySQL==1.1.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
pypdf==3.17.4
PyPDF2==3.0.1
pyphen==0.13.2
pypiwin32==223
pypng==0.20220715.0
pytest==7.2.0
pytest-django==4.5.2
pytest-sugar==0.9.6
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-json-logger==2.0.7
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2022.7
PyWavelets==1.4.1
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==24.0.1
qrcode==7.4.2
rcssmin==1.1.0
redis==5.0.1
referencing==0.30.2
regex==2023.10.3
reportlab==4.0.4
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rjsmin==1.2.0
rlPyCairo==0.3.0
rpds-py==0.10.6
rsa==4.9
safetensors==0.4.1
scikit-learn==1.2.2
scipy==1.11.3
seaborn==0.12.2
Send2Trash==1.8.2
service-identity==24.1.0
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.22
sqlglot==18.16.1
sqlparse==0.4.3
squarify==0.4.3
st-annotated-text==4.0.1
stack-data==0.6.3
statsmodels==0.14.0
strsimpy==0.2.1
svglib==1.5.1
tablib==3.5.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.18.0
text-unidecode==1.3
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.12.0
transformers==4.35.2
Twisted==23.10.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typeguard==4.1.5
types-python-dateutil==2.8.19.14
types-pytz==2023.3.1.1
types-PyYAML==6.0.12.12
types-requests==2.31.0.20240106
typing_extensions==4.8.0
tzdata==2022.7
tzlocal==5.2
Unidecode==1.3.8
uri-template==1.3.0
uritemplate==4.1.1
uritools==4.0.2
urllib3==2.0.7
validators==0.22.0
vincent==0.4.4
virtualenv==20.25.0
visions==0.7.4
wasmtime==12.0.0
watchdog==3.0.0
wcwidth==0.2.8
weasyprint==57.2
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
whitenoise==6.2.0
widgetsnbextension==4.0.9
wordcloud==1.9.2
wrapt==1.16.0
xarray==2023.10.1
xhtml2pdf==0.2.13
xlrd==2.0.1
XlsxWriter==3.1.3
xlwt==1.3.0
y-py==0.6.2
yarl==1.9.4
ypy-websocket==0.8.4
zipp==3.17.0
zope.interface==6.1
zopfli==0.2.2
